/* Estilos unificados para react-hot-toast */
/* Contenedor de toasts (role=status) */
body div[role="status"] {
  font-family: "Oxanium", Inter, Segoe UI, InteliMark, system-ui, Avenir,
    Helvetica, Arial, sans-serif !important;
  font-size: 10px !important;
}

/* Cada toast */
body div[role="status"] [data-hot-toast-id] {
  background: transparent !important;
  color: #da8023 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 8px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) !important;
  box-shadow: none !important;
}
