/* src/components/TranscriptModal.css */

.transcript-modal-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 300px;
  height: 60vh;
  background: rgba(26, 26, 26, 0.9);
  border: 1px solid #da8023;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

.transcript-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #da8023;
  padding-bottom: 10px;
  margin-bottom: 20px;
  flex-shrink: 0; /* Evita que el header se encoja */
}

.transcript-modal-title {
  color: #da8023;
  font-size: 1.2rem;
  font-weight: bold;
}

.transcript-modal-body {
  flex-grow: 1; /* Ocupa el espacio restante */
  overflow-y: auto;
  padding-right: 10px; /* For scrollbar */
}

.transcript-message {
  margin-bottom: 10px;
}

.transcript-role {
  font-weight: bold;
  color: #da8023;
  margin-right: 10px;
}